.node-red/flows.json
[
  {
    "id": "8cb51d754613f073",
    "type": "tab",
    "label": "Water Quality Monitoring Simulation",
    "disabled": false,
    "info": "Розширена симуляція пристроїв моніторингу якості води з технічними параметрами та керуванням історії",
    "env": []
  },
  {
    "id": "init-simulation",
    "type": "inject",
    "z": "8cb51d754613f073",
    "name": "Initialize/Reset Simulation",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 600,
    "y": 400,
    "wires": [
      [
        "func-initialize-devices"
      ]
    ]
  },
  {
    "id": "func-initialize-devices",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Setup Enhanced Device States & Configs",
    "func": "// Розширена ініціалізація пристроїв з технічними параметрами\nconst simulationStartTime = Date.now();\nflow.set('simulation_start_time', simulationStartTime);\n\n// Функція розрахунку WQI\nfunction calculateParameterScores(params) {\n    let partial = {};\n    let totalWQI = 0;\n    \n    // pH Score\n    if (params.ph >= 7.0 && params.ph <= 7.6) partial.ph = 25;\n    else if (params.ph >= 6.5 && params.ph <= 8.5) partial.ph = 18;\n    else if (params.ph >= 6.0 && params.ph <= 9.0) partial.ph = 10;\n    else partial.ph = 5;\n    totalWQI += partial.ph;\n    \n    // Temperature Score\n    if (params.temp >= 18 && params.temp <= 22) partial.temp = 25;\n    else if (params.temp >= 15 && params.temp <= 25) partial.temp = 18;\n    else if (params.temp >= 10 && params.temp <= 30) partial.temp = 10;\n    else partial.temp = 5;\n    totalWQI += partial.temp;\n    \n    // TDS Score\n    if (params.tds <= 300) partial.tds = 25;\n    else if (params.tds <= 500) partial.tds = 18;\n    else if (params.tds <= 800) partial.tds = 10;\n    else partial.tds = 5;\n    totalWQI += partial.tds;\n    \n    // Turbidity Score\n    if (params.turbidity <= 1) partial.turbidity = 25;\n    else if (params.turbidity <= 5) partial.turbidity = 18;\n    else if (params.turbidity <= 10) partial.turbidity = 10;\n    else partial.turbidity = 5;\n    totalWQI += partial.turbidity;\n    \n    return { totalWQI: Math.max(0, Math.min(100, totalWQI)), partial: partial };\n}\n\n// Функція форматування часу роботи\nfunction formatOperatingTime(startTime) {\n    const now = Date.now();\n    const diffMs = now - startTime;\n    const hours = Math.floor(diffMs / (1000 * 60 * 60));\n    const minutes = Math.floor((diffMs % (1000 * 60 * 60)) / (1000 * 60));\n    return `${hours} год ${minutes} хв`;\n}\n\n// Початкова конфігурація пристроїв для розширеної симуляції\nconst initialDeviceConfigs = {\n    \"111001\": {\n        id: '111001',\n        name: 'Головний датчик',\n        customName: 'Головний датчик',\n        serverConfig: {\n            deviceId: '111001',\n            serverName: 'Локальний сервер (Node-RED)'\n        },\n        isOnline: true,\n        location: 'Лабораторія',\n        baseline: { ph: 7.2, temp: 20, tds: 300, turbidity: 0.8 },\n        current: { ph: 7.2, temp: 20, tds: 300, turbidity: 0.8, wqi: 0, lastUpdate: Date.now() },\n        technical: {\n            powerSource: \"Від мережі\",\n            powerType: \"mains\",\n            batteryLevel: 100,\n            startTime: simulationStartTime,\n            lastCalibration: new Date('2025-05-15T10:30:00Z').getTime(),\n            calibrationInterval: 30 * 24 * 60 * 60 * 1000,\n            sensorStatus: \"Всі датчики онлайн\",\n            connectionStatus: \"Стабільне\",\n            signalStrength: -35,\n            firmwareVersion: \"v2.1.3\",\n            hardwareVersion: \"v1.4\",\n            sensorHealth: {\n                ph: \"online\",\n                temperature: \"online\",\n                tds: \"online\",\n                turbidity: \"online\"\n            },\n            alerts: []\n        }\n    },\n    \"222002\": {\n        id: '222002',\n        name: 'Резервний модуль',\n        customName: 'Резервний модуль',\n        serverConfig: {\n            deviceId: '222002',\n            serverName: 'Локальний сервер (Node-RED)'\n        },\n        isOnline: true,\n        location: 'Резерв',\n        baseline: { ph: 6.8, temp: 23, tds: 450, turbidity: 1.2 },\n        current: { ph: 6.8, temp: 23, tds: 450, turbidity: 1.2, wqi: 0, lastUpdate: Date.now() },\n        technical: {\n            powerSource: \"Від батареї\",\n            powerType: \"battery\",\n            batteryLevel: 78,\n            startTime: simulationStartTime,\n            lastCalibration: new Date('2025-04-20T14:15:00Z').getTime(),\n            calibrationInterval: 30 * 24 * 60 * 60 * 1000,\n            sensorStatus: \"Всі датчики онлайн\",\n            connectionStatus: \"Стабільне\",\n            signalStrength: -52,\n            firmwareVersion: \"v2.0.8\",\n            hardwareVersion: \"v1.3\",\n            sensorHealth: {\n                ph: \"online\",\n                temperature: \"online\",\n                tds: \"online\",\n                turbidity: \"online\"\n            },\n            alerts: [\n                {\n                    id: \"alert_battery_low\",\n                    type: \"battery_warning\",\n                    severity: \"warning\",\n                    message: \"Рівень батареї нижче 80%\",\n                    timestamp: Date.now() - 3600000,\n                    acknowledged: false\n                }\n            ]\n        }\n    },\n    \"333003\": {\n        id: '333003',\n        name: 'Тестовий стенд',\n        customName: 'Тестовий стенд',\n        serverConfig: {\n            deviceId: '333003',\n            serverName: 'Локальний сервер (Node-RED)'\n        },\n        isOnline: false,\n        location: 'Тестова зона',\n        baseline: { ph: 5.5, temp: 28, tds: 600, turbidity: 2.5 },\n        current: { ph: 5.5, temp: 28, tds: 600, turbidity: 2.5, wqi: 0, lastUpdate: Date.now() },\n        technical: {\n            powerSource: \"Сонячна батарея\",\n            powerType: \"solar\",\n            batteryLevel: 92,\n            startTime: simulationStartTime,\n            lastCalibration: new Date('2025-06-01T09:00:00Z').getTime(),\n            calibrationInterval: 30 * 24 * 60 * 60 * 1000,\n            sensorStatus: \"Попередження: датчик pH потребує калібрування\",\n            connectionStatus: \"Нестабільне\",\n            signalStrength: -67,\n            firmwareVersion: \"v1.9.2\",\n            hardwareVersion: \"v1.2\",\n            sensorHealth: {\n                ph: \"drift_detected\",\n                temperature: \"online\",\n                tds: \"online\",\n                turbidity: \"online\"\n            },\n            alerts: [\n                {\n                    id: \"alert_ph_drift\",\n                    type: \"sensor_drift\",\n                    severity: \"warning\",\n                    message: \"Виявлено дрейф датчика pH\",\n                    parameter: \"pH\",\n                    timestamp: Date.now() - 1800000,\n                    acknowledged: false\n                }\n            ]\n        }\n    }\n};\n\n// Збереження функцій в контекст flow\nflow.set('calculateWQI', calculateParameterScores);\nflow.set('formatOperatingTime', formatOperatingTime);\n\n// Inline Enhanced Simulation (розумна версія з рандомними параметрами)\nclass SmartEnhancedSimulation {\n    constructor(initialDeviceConfigs, calculateWQI, formatOperatingTime) {\n        this.devices = JSON.parse(JSON.stringify(initialDeviceConfigs));\n        this.calculateWQI = calculateWQI;\n        this.formatOperatingTime = formatOperatingTime;\n        this.simulationStartTime = Date.now();\n        \n        // Генеруємо рандомні стартові параметри для кожного пристрою\n        this.initializeRandomBaselines();\n        \n        node.log('🌊 Smart Enhanced Simulation ініціалізовано з рандомними параметрами');\n    }\n    \n    initializeRandomBaselines() {\n        for (const deviceId in this.devices) {\n            const device = this.devices[deviceId];\n            \n            // Генеруємо рандомні стартові параметри в реалістичних діапазонах\n            device.baseline = {\n                ph: this.randomInRange(5.5, 9.5),        // pH від кислого до лужного\n                temp: this.randomInRange(8, 35),          // Температура від холодної до теплої\n                tds: this.randomInRange(50, 1500),        // TDS від чистої до солоної води\n                turbidity: this.randomInRange(0.1, 5.0)    // Каламутність від прозорої до мутної\n            };\n            \n            // Встановлюємо поточні значення рівними baseline\n            device.current = {\n                ...device.baseline,\n                wqi: 0,\n                lastUpdate: Date.now()\n            };\n            \n            // Генеруємо рандомні тренди для кожного параметра\n            device.trends = {\n                ph: this.randomInRange(-0.02, 0.02),        // Тренд pH\n                temp: this.randomInRange(-0.05, 0.05),      // Тренд температури\n                tds: this.randomInRange(-2, 2),             // Тренд TDS\n                turbidity: this.randomInRange(-0.03, 0.03)  // Тренд каламутності\n            };\n            \n            node.log(`🎲 Пристрій ${deviceId} - pH:${device.baseline.ph.toFixed(2)}, T:${device.baseline.temp.toFixed(1)}°C, TDS:${Math.round(device.baseline.tds)}, Turb:${device.baseline.turbidity.toFixed(1)}`);\n        }\n    }\n    \n    randomInRange(min, max) {\n        return Math.random() * (max - min) + min;\n    }\n    \n    generateDeviceData(device, timestamp) {\n        const baseline = device.baseline;\n        const trends = device.trends;\n        const timeMs = timestamp - this.simulationStartTime;\n        const timeMins = timeMs / (1000 * 60);\n        \n        // Синусоїдальні коливання з різними періодами\n        const phCycle = Math.sin(timeMins * 0.05) * 0.8;     // Повільний цикл pH\n        const tempCycle = Math.cos(timeMins * 0.03) * 3;     // Температурні коливання\n        const tdsCycle = Math.sin(timeMins * 0.07) * 100;    // Коливання TDS\n        const turbidityCycle = Math.cos(timeMins * 0.09) * 2; // Коливання каламутності\n        \n        // Довгострокові тренди\n        const trendPH = trends.ph * timeMins * 0.01;\n        const trendTemp = trends.temp * timeMins * 0.01;\n        const trendTDS = trends.tds * timeMins * 0.01;\n        const trendTurbidity = trends.turbidity * timeMins * 0.01;\n        \n        // Випадковий шум\n        const noise = () => (Math.random() - 0.5) * 0.3;\n        \n        // Розрахунок значень з урахуванням циклів, трендів та шуму\n        const ph = Math.max(0, Math.min(14, baseline.ph + phCycle + trendPH + noise()));\n        const temp = Math.max(0, Math.min(50, baseline.temp + tempCycle + trendTemp + noise() * 2));\n        const tds = Math.max(0, Math.min(3000, baseline.tds + tdsCycle + trendTDS + noise() * 20));\n        const turbidity = Math.max(0, Math.min(100, baseline.turbidity + turbidityCycle + trendTurbidity + noise()));\n        \n        // Іноді генеруємо \"події\" - різкі зміни параметрів\n        const eventChance = Math.random();\n        let eventMultiplier = { ph: 1, temp: 1, tds: 1, turbidity: 1 };\n        \n        if (eventChance < 0.05) { // 5% шанс події\n            const eventType = Math.random();\n            if (eventType < 0.25) {\n                // Кислотний викид\n                eventMultiplier.ph = 0.7;\n                device.currentEvent = \"Кислотний викид\";\n            } else if (eventType < 0.5) {\n                // Температурний стрибок\n                eventMultiplier.temp = 1.3;\n                device.currentEvent = \"Температурний стрибок\";\n            } else if (eventType < 0.75) {\n                // Забруднення (TDS)\n                eventMultiplier.tds = 1.5;\n                device.currentEvent = \"Підвищення TDS\";\n            } else {\n                // Підвищена каламутність\n                eventMultiplier.turbidity = 2;\n                device.currentEvent = \"Підвищена каламутність\";\n            }\n        } else if (eventChance > 0.95) {\n            // Очищення події\n            device.currentEvent = null;\n        }\n        \n        return {\n            ph: Math.round(ph * eventMultiplier.ph * 100) / 100,              // 2 знаки після коми\n            temp: Math.round(temp * eventMultiplier.temp * 10) / 10,          // 1 знак після коми  \n            tds: Math.round(tds * eventMultiplier.tds),                       // цілі числа\n            turbidity: Math.round(turbidity * eventMultiplier.turbidity * 10) / 10   // 1 знак після коми\n        };\n    }\n}\n\n// Створення Smart Enhanced simulation\ntry {\n    const enhancedSim = new SmartEnhancedSimulation(\n        initialDeviceConfigs,\n        calculateParameterScores,\n        formatOperatingTime\n    );\n    \n    flow.set('enhancedSimulation', enhancedSim);\n    node.log('✅ Smart Enhanced simulation завантажена успішно з рандомними параметрами');\n} catch (error) {\n    node.error('❌ Помилка створення Smart Enhanced simulation: ' + error.message);\n}\n    \n// Ініціалізація пристроїв з базовими значеннями\nconst devices = {};\nfor (const deviceId in initialDeviceConfigs) {\n    if (initialDeviceConfigs.hasOwnProperty(deviceId)) {\n        const config = initialDeviceConfigs[deviceId];\n        devices[deviceId] = {\n            ...config,\n            lastUpdate: new Date(config.current.lastUpdate).toLocaleString('uk-UA')\n        };\n        \n        // Розрахунок початкового WQI\n        const scores = calculateParameterScores(config.current);\n        devices[deviceId].current.wqi = scores.totalWQI;\n        devices[deviceId].current.partial_scores = scores.partial;\n        \n        if (config.technical && config.technical.startTime) {\n            devices[deviceId].technical.operatingTimeFormatted = formatOperatingTime(config.technical.startTime);\n        }\n    }\n}\n    \nflow.set('sim_devices', devices);\n    \nnode.status({ \n    fill: \"green\", \n    shape: \"dot\", \n    text: `✅ Симуляція ініціалізована: ${Object.keys(devices).length} пристроїв` \n});\n    \nnode.log(`✅ Симуляція успішно ініціалізована з ${Object.keys(devices).length} пристроями`);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 400,
    "wires": [
      [
        "debug-init"
      ]
    ]
  },
  {
    "id": "inject-update-tick",
    "type": "inject",
    "z": "8cb51d754613f073",
    "name": "Update Interval (1s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 590,
    "y": 480,
    "wires": [
      [
        "func-update-all-device-states"
      ]
    ]
  },
  {
    "id": "func-update-all-device-states",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Enhanced Device States Update",
    "func": "let devices = flow.get('sim_devices') || {};\nconst calculateWQI = flow.get('calculateWQI');\nconst formatOperatingTime = flow.get('formatOperatingTime');\nconst enhancedSim = flow.get('enhancedSimulation');\n\nif (!calculateWQI) {\n    node.error(\"calculateWQI function not found in flow context\");\n    return null;\n}\n\nif (!enhancedSim) {\n    node.warn(\"Enhanced simulation not available, using basic simulation\");\n    // Fallback до старої симуляції\n    for (const deviceId in devices) {\n        if (devices.hasOwnProperty(deviceId)) {\n            let device = devices[deviceId];\n            let baseline = device.baseline;\n            let current = device.current;\n            let technical = device.technical;\n\n            // Стара симуляція нормальних флуктуацій\n            current.ph += (baseline.ph - current.ph) * 0.1 + (Math.random() - 0.5) * 0.1;\n            current.ph = parseFloat(Math.max(0, Math.min(14, current.ph)).toFixed(2));\n\n            current.temp += (baseline.temp - current.temp) * 0.1 + (Math.random() - 0.5) * 0.5;\n            current.temp = parseFloat(Math.max(0, Math.min(40, current.temp)).toFixed(1));\n\n            current.tds += (baseline.tds - current.tds) * 0.1 + (Math.random() - 0.5) * 20;\n            current.tds = Math.max(0, Math.min(2000, Math.floor(current.tds)));\n\n            current.turbidity += (baseline.turbidity - current.turbidity) * 0.1 + (Math.random() - 0.5) * 0.3;\n            current.turbidity = parseFloat(Math.max(0, Math.min(50, current.turbidity)).toFixed(1));\n            \n            // Оновлення WQI\n            const scores = calculateWQI(current);\n            current.wqi = scores.totalWQI;\n            current.partial_scores = scores.partial;\n            current.lastUpdate = Date.now();\n            \n            // Оновлення часу роботи\n            if (formatOperatingTime && technical.startTime) {\n                technical.operatingTime = formatOperatingTime(technical.startTime);\n            }\n            \n            // Оновлення онлайн статусу та часу останнього оновлення\n            device.isOnline = technical.connectionStatus !== \"Відключено\";\n            device.lastUpdate = new Date(current.lastUpdate).toLocaleString('uk-UA');\n        }\n    }\n} else {\n    // Використання розширеної симуляції\n    const timestamp = Date.now();\n    \n    for (const deviceId in devices) {\n        if (devices.hasOwnProperty(deviceId)) {\n            let device = devices[deviceId];\n            let technical = device.technical;\n\n            // Генеруємо нові дані з використанням розширеної симуляції\n            try {\n                // Отримуємо пристрій з enhancedSim, який має правильну структуру\n                const simDevice = enhancedSim.devices[deviceId];\n                if (simDevice && simDevice.baseline && simDevice.trends) {\n                    const newCurrent = enhancedSim.generateDeviceData(simDevice, timestamp);\n                    device.current = {\n                        ...newCurrent,\n                        lastUpdate: timestamp\n                    };\n                    \n                    // Оновлення WQI\n                    const scores = calculateWQI(device.current);\n                    device.current.wqi = scores.totalWQI;\n                    device.current.partial_scores = scores.partial;\n                    \n                    // Оновлення часу роботи\n                    if (formatOperatingTime && technical.startTime) {\n                        technical.operatingTime = formatOperatingTime(technical.startTime);\n                    }\n                    \n                    // Оновлення онлайн статусу та часу останнього оновлення\n                    device.isOnline = technical.connectionStatus !== \"Відключено\";\n                    device.lastUpdate = new Date(device.current.lastUpdate).toLocaleString('uk-UA');\n                    \n                    // Логування активних подій\n                    if (simDevice.currentEvent) {\n                        node.log(`🎯 Пристрій ${deviceId}: подія - ${simDevice.currentEvent}`);\n                    }\n                } else {\n                    node.error(`Пристрій ${deviceId} не знайдено в enhancedSim або відсутні baseline/trends`);\n                }\n                \n            } catch (error) {\n                node.error(`Помилка генерації даних для пристрою ${deviceId}: ${error.message}`);\n            }\n        }\n    }\n}\n\nflow.set('sim_devices', devices);\n\nnode.status({ \n    fill: \"blue\", \n    shape: \"dot\", \n    text: `🔄 Оновлено: ${new Date().toLocaleTimeString()} (Enhanced)` \n});\n\n// Повертаємо тільки повідомлення про оновлення без синхронізації історії\nreturn { payload: { updated: Object.keys(devices).length, timestamp: Date.now(), enhanced: !!enhancedSim } };",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 480,
    "wires": [
      [
        "debug-update"
      ]
    ]
  },
  {
    "id": "inject-save-history-manual",
    "type": "inject",
    "z": "8cb51d754613f073",
    "name": "📊 Зберегти історію ЗАРАЗ",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "manual_trigger",
    "payloadType": "str",
    "x": 620,
    "y": 1000,
    "wires": [
      [
        "func-prepare-history-save"
      ]
    ]
  },
  {
    "id": "inject-save-history-5min",
    "type": "inject",
    "z": "8cb51d754613f073",
    "d": true,
    "name": "⏰ Автозбереження кожні 5 хв",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": "10",
    "topic": "",
    "payload": "auto_5min",
    "payloadType": "str",
    "x": 610,
    "y": 1040,
    "wires": [
      [
        "func-prepare-history-save"
      ]
    ]
  },
  {
    "id": "inject-save-history-1hour",
    "type": "inject",
    "z": "8cb51d754613f073",
    "name": "⏰ Автозбереження кожну годину",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": "60",
    "topic": "",
    "payload": "auto_1hour",
    "payloadType": "str",
    "x": 630,
    "y": 1080,
    "wires": [
      [
        "func-prepare-history-save"
      ]
    ]
  },
  {
    "id": "func-prepare-history-save",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Підготовка збереження історії",
    "func": "const devices = flow.get('sim_devices') || {};\nconst trigger = msg.payload;\n\nnode.status({ \n    fill: \"yellow\", \n    shape: \"dot\", \n    text: `Підготовка збереження (${trigger})...` \n});\n\nconst historyUpdates = [];\n\n// Створюємо дані для збереження для кожного пристрою\nfor (const deviceId in devices) {\n    if (devices.hasOwnProperty(deviceId)) {\n        const device = devices[deviceId];\n        const current = device.current;\n        \n        // Перевіряємо чи пристрій онлайн\n        if (device.isOnline) {\n            historyUpdates.push({\n                deviceId: deviceId,\n                wqi: current.wqi,\n                pH: current.ph,\n                temperature: current.temp,\n                tds: current.tds,\n                turbidity: current.turbidity,\n                timestamp: current.lastUpdate\n            });\n        }\n    }\n}\n\nnode.status({ \n    fill: \"blue\", \n    shape: \"dot\", \n    text: `Готово до збереження: ${historyUpdates.length} пристроїв` \n});\n\n// Повертаємо масив обновлений для збереження\nreturn { \n    payload: historyUpdates,\n    trigger: trigger,\n    timestamp: Date.now()\n};",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 1040,
    "wires": [
      [
        "func-create-history-requests"
      ]
    ]
  },
  {
    "id": "func-create-history-requests",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Створення HTTP запитів",
    "func": "const historyUpdates = msg.payload;\n\nnode.status({ \n    fill: \"yellow\", \n    shape: \"ring\", \n    text: `Створення ${historyUpdates.length} запитів...` \n});\n\nnode.status({ \n    fill: \"green\", \n    shape: \"dot\", \n    text: `${historyUpdates.length} запитів готово` \n});\n\n// Повертаємо масив для split вузла\nreturn { payload: historyUpdates };",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1200,
    "y": 1040,
    "wires": [
      [
        "split-history-requests"
      ]
    ]
  },
  {
    "id": "split-history-requests",
    "type": "split",
    "z": "8cb51d754613f073",
    "name": "Розділення на окремі запити",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1200,
    "y": 1100,
    "wires": [
      [
        "func-format-single-request"
      ]
    ]
  },
  {
    "id": "func-format-single-request",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Форматування одного запиту",
    "func": "const update = msg.payload;\n\n// Форматуємо одне повідомлення для HTTP запиту\nreturn {\n    payload: {\n        deviceId: update.deviceId,\n        wqi: update.wqi,\n        pH: update.pH,\n        temperature: update.temperature,\n        tds: update.tds,\n        turbidity: update.turbidity\n    },\n    headers: {\n        'Content-Type': 'application/json'\n    },\n    url: 'http://localhost:1880/api/updateParameterHistory',\n    method: 'POST',\n    deviceInfo: {\n        id: update.deviceId,\n        timestamp: update.timestamp\n    }\n};",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1200,
    "y": 1160,
    "wires": [
      [
        "http-request-save-history"
      ]
    ]
  },
  {
    "id": "http-request-save-history",
    "type": "http request",
    "z": "8cb51d754613f073",
    "name": "💾 Збереження в історію",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 1480,
    "y": 1160,
    "wires": [
      [
        "func-process-save-response"
      ]
    ]
  },
  {
    "id": "func-process-save-response",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Обробка відповіді",
    "func": "const response = msg.payload;\nconst deviceId = msg.deviceInfo ? msg.deviceInfo.id : 'unknown';\n\nif (response && response.success) {\n    node.status({ \n        fill: \"green\", \n        shape: \"dot\", \n        text: `✅ ${deviceId}: збережено` \n    });\n    \n    node.log(`✅ Історія збережена для пристрою ${deviceId}: ${response.message}`);\n} else {\n    node.status({ \n        fill: \"red\", \n        shape: \"dot\", \n        text: `❌ ${deviceId}: помилка` \n    });\n    \n    node.error(`❌ Помилка збереження для ${deviceId}: ${response?.error || 'Unknown error'}`);\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1730,
    "y": 1160,
    "wires": [
      [
        "debug-save-response"
      ]
    ]
  },
  {
    "id": "debug-save-response",
    "type": "debug",
    "z": "8cb51d754613f073",
    "name": "Debug: Відповідь збереження",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2000,
    "y": 1160,
    "wires": []
  },
  {
    "id": "http-in-getwqi-dynamic",
    "type": "http in",
    "z": "8cb51d754613f073",
    "name": "GET /getWQI",
    "url": "/getWQI",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 550,
    "y": 580,
    "wires": [
      [
        "func-get-device-data"
      ]
    ]
  },
  {
    "id": "func-get-device-data",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Retrieve Device WQI Data",
    "func": "const deviceId = msg.req.query.device;\nconst devices = flow.get('sim_devices') || {};\n\nif (devices.hasOwnProperty(deviceId)) {\n    const device = devices[deviceId];\n    msg.payload = {\n        wqi: device.current.wqi,\n        parameters: {\n            pH: device.current.ph,\n            temperature: device.current.temp,\n            tds: device.current.tds,\n            turbidity: device.current.turbidity\n        },\n        partial_scores: device.current.partial_scores,\n        timestamp: new Date(device.current.lastUpdate).toISOString(),\n        deviceName: device.name\n    };\n    msg.statusCode = 200;\n} else {\n    msg.payload = {\n        error: \"Unknown device ID\",\n        received_device_id: deviceId,\n        available_devices: Object.keys(devices)\n    };\n    msg.statusCode = 404;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 580,
    "wires": [
      [
        "http-response-dynamic"
      ]
    ]
  },
  {
    "id": "http-response-dynamic",
    "type": "http response",
    "z": "8cb51d754613f073",
    "name": "WQI Data Response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json",
      "access-control-allow-origin": "*"
    },
    "x": 1200,
    "y": 580,
    "wires": []
  },
  {
    "id": "http-in-device-status",
    "type": "http in",
    "z": "8cb51d754613f073",
    "name": "GET /getDeviceStatus",
    "url": "/getDeviceStatus",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 580,
    "y": 660,
    "wires": [
      [
        "func-get-device-status"
      ]
    ]
  },
  {
    "id": "func-get-device-status",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Retrieve Device Status & Technical Data",
    "func": "const deviceId = msg.req.query.device;\nconst devices = flow.get('sim_devices') || {};\n\nif (devices.hasOwnProperty(deviceId)) {\n    const device = devices[deviceId];\n    const tech = device.technical;\n    \n    // Форматування дати останнього калібрування\n    const lastCalibrationDate = new Date(tech.lastCalibration).toLocaleDateString('uk-UA', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric'\n    });\n    \n    msg.payload = {\n        // Основна інформація про пристрій\n        deviceId: deviceId,\n        name: device.name,\n        customName: device.customName,\n        serverConfig: device.serverConfig,\n        isOnline: device.isOnline,\n        location: device.location,\n        lastUpdate: device.lastUpdate,\n        \n        // Технічні параметри\n        technical: {\n            powerSource: tech.powerSource,\n            operatingTime: tech.operatingTime || \"0 год 0 хв\",\n            batteryLevel: tech.batteryLevel,\n            ping: Math.abs(tech.signalStrength) + Math.floor(Math.random() * 10),\n            firmwareVersion: tech.firmwareVersion,\n            lastCalibration: lastCalibrationDate,\n            sensorStatus: tech.sensorStatus,\n            alerts: tech.alerts || []\n        },\n        \n        timestamp: new Date().toISOString()\n    };\n    msg.statusCode = 200;\n} else {\n    msg.payload = {\n        error: \"Unknown device ID\",\n        received_device_id: deviceId,\n        available_devices: Object.keys(devices)\n    };\n    msg.statusCode = 404;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 660,
    "wires": [
      [
        "http-response-device-status"
      ]
    ]
  },
  {
    "id": "http-response-device-status",
    "type": "http response",
    "z": "8cb51d754613f073",
    "name": "Device Status Response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json",
      "access-control-allow-origin": "*"
    },
    "x": 1210,
    "y": 660,
    "wires": []
  },
  {
    "id": "http-in-calibrate",
    "type": "http in",
    "z": "8cb51d754613f073",
    "name": "POST /calibrateSensors",
    "url": "/calibrateSensors",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 580,
    "y": 740,
    "wires": [
      [
        "func-calibrate-sensors"
      ]
    ]
  },
  {
    "id": "func-calibrate-sensors",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "Perform Sensor Calibration",
    "func": "const devices = flow.get('sim_devices') || {};\nlet deviceId;\n\n// Отримання deviceId з query параметрів або body\nif (msg.req.query && msg.req.query.device) {\n    deviceId = msg.req.query.device;\n} else if (msg.payload && msg.payload.deviceId) {\n    deviceId = msg.payload.deviceId;\n} else {\n    msg.payload = {\n        success: false,\n        error: \"Device ID not provided\",\n        message: \"Вкажіть ID пристрою для калібрування\"\n    };\n    msg.statusCode = 400;\n    return msg;\n}\n\nif (devices.hasOwnProperty(deviceId)) {\n    const device = devices[deviceId];\n    const now = Date.now();\n    \n    // Симуляція процесу калібрування\n    device.technical.lastCalibration = now;\n    device.technical.sensorStatus = \"Всі датчики онлайн\";\n    \n    // Скидання проблем з датчиками\n    for (const sensor in device.technical.sensorHealth) {\n        device.technical.sensorHealth[sensor] = \"online\";\n    }\n    \n    // Очищення алертів про калібрування\n    device.technical.alerts = device.technical.alerts.filter(alert => \n        !['calibration_needed', 'calibration_overdue', 'sensor_drift'].includes(alert.type)\n    );\n    \n    // Додавання успішного аlerту про калібрування\n    device.technical.alerts.push({\n        id: `calibration_success_${now}`,\n        type: \"calibration_completed\",\n        severity: \"info\",\n        message: \"Калібрування успішно завершено\",\n        timestamp: now,\n        acknowledged: false\n    });\n    \n    // Збереження оновлених даних\n    flow.set('sim_devices', devices);\n    \n    const calibrationDate = new Date(now).toLocaleDateString('uk-UA', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit'\n    });\n    \n    msg.payload = {\n        success: true,\n        message: \"Калібрування успішно завершено\",\n        deviceId: deviceId,\n        calibrationDate: calibrationDate,\n        affectedSensors: [\"pH\", \"температура\", \"TDS\", \"каламутність\"],\n        timestamp: new Date(now).toISOString()\n    };\n    msg.statusCode = 200;\n} else {\n    msg.payload = {\n        success: false,\n        error: \"Unknown device ID\",\n        received_device_id: deviceId,\n        available_devices: Object.keys(devices)\n    };\n    msg.statusCode = 404;\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 740,
    "wires": [
      [
        "http-response-calibrate"
      ]
    ]
  },
  {
    "id": "http-response-calibrate",
    "type": "http response",
    "z": "8cb51d754613f073",
    "name": "Calibration Response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json",
      "access-control-allow-origin": "*"
    },
    "x": 1200,
    "y": 740,
    "wires": []
  },
  {
    "id": "http-in-listsensors",
    "type": "http in",
    "z": "8cb51d754613f073",
    "name": "GET /listAvailableSensors",
    "url": "/listAvailableSensors",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 590,
    "y": 860,
    "wires": [
      [
        "func-list-sensors"
      ]
    ]
  },
  {
    "id": "func-list-sensors",
    "type": "function",
    "z": "8cb51d754613f073",
    "name": "List Available Sensors",
    "func": "const devices = flow.get('sim_devices') || {};\nconst availableSensors = [];\n\nfor (const deviceId in devices) {\n    if (devices.hasOwnProperty(deviceId)) {\n        const device = devices[deviceId];\n        availableSensors.push({\n            id: deviceId,\n            name: device.name,\n            customName: device.customName,\n            serverConfig: device.serverConfig,\n            isOnline: device.isOnline,\n            status: device.technical.connectionStatus,\n            lastUpdate: new Date(device.current.lastUpdate).toISOString()\n        });\n    }\n}\n\nmsg.payload = {\n    sensors: availableSensors,\n    totalCount: availableSensors.length,\n    timestamp: new Date().toISOString()\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 860,
    "wires": [
      [
        "http-response-listsensors"
      ]
    ]
  },
  {
    "id": "http-response-listsensors",
    "type": "http response",
    "z": "8cb51d754613f073",
    "name": "Sensor List Response",
    "statusCode": "",
    "headers": {
      "content-type": "application/json",
      "access-control-allow-origin": "*"
    },
    "x": 1200,
    "y": 860,
    "wires": []
  },
  {
    "id": "debug-init",
    "type": "debug",
    "z": "8cb51d754613f073",
    "name": "Debug: Initialization",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1190,
    "y": 400,
    "wires": []
  },
  {
    "id": "debug-update",
    "type": "debug",
    "z": "8cb51d754613f073",
    "name": "Debug: State Update",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1200,
    "y": 480,
    "wires": []
  },
  {
    "id": "inject-test-calibration",
    "type": "inject",
    "z": "8cb51d754613f073",
    "name": "Test Calibration (111001)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"deviceId\":\"111001\"}",
    "payloadType": "json",
    "x": 590,
    "y": 800,
    "wires": [
      [
        "func-calibrate-sensors"
      ]
    ]
  }
]